snippet fmdotoo "Dotoo file front matter" Ab
#+TITLE: ${1:Working Title}
#+AUTHOR: Jacob Vaverka
#+EMAIL: jvaverka@pm.me
#+DESCRIPTION: ${2:Brief}
endsnippet

snippet dotoo "Add new TODO item" Ab
* TODO ${1:thing}
${2:description}
${3:SCHEDULED}: [`!v strftime("%F %a %H:%M")`]
- [ ] $1 [/]
	- [ ] ${4:first item}
endsnippet
